<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="hamburger">
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1>Dashboard</h1>
        <span class="menu-spacer"></span>
        <div class="header-menu">
            <a mat-button [routerLink]="'home'"> Home </a>
            <a mat-button [routerLink]="'register'"> Create Account </a>
            <a mat-button [routerLink]="'profile'"> Profile </a>
            <a mat-button [routerLink]="'account'"> Manage Account </a>
            <a mat-button [routerLink]="'/activities'"> Activities </a>
            <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/home">
                <mat-icon>home</mat-icon>Home
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>Dashboard
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/subscription">
                <mat-icon>card_giftcard</mat-icon>Subscription
            </a>

            <a mat-list-item (click)="sidenav.toggle()" routerLink="/profile">
                <mat-icon>person</mat-icon> Profile
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/manage">
                <mat-icon>dns</mat-icon> Manage Account
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/request">
                <mat-icon>post_add</mat-icon> Request
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/payment">
                <mat-icon>payment</mat-icon> Payment
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/report-bug" mat-list-item>
                <mat-icon>bug_report</mat-icon>Report Bug
            </a>

            <a mat-list-item (click)="sidenav.toggle()" routerLink="/help" mat-list-item>
                <mat-icon>contact_support</mat-icon>Help & Support
            </a>

            <mat-divider></mat-divider>
            <a mat-list-item *ngIf="!isLoggedIn" (click)="sidenav.toggle()" routerLink="/login" mat-list-item>
                <mat-icon>input</mat-icon> Login
            </a>
            <a mat-list-item *ngIf="isLoggedIn" (click)="sidenav.toggle();logout()" mat-list-item>
                <mat-icon>input</mat-icon>Logout
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content (swiperight)="sidenav.toggle()">
        <div style="height: 100vh;">
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>