mat-sidenav {
    height: 100vh;
    width: 17%;
    background: #f8f8f8;
}

mat-form-field {
    margin-right: 12px;
}

.hamburger mat-icon {
    color: white;
}

.hamburger {
    display: none;
    color: white;
}



.logo {
    width: 10%;
    margin-right: 2%;
}

mat-icon,
i {
    color: royalblue;
    margin-right: 12%;
    margin-left: 2%;
    font-size: 24px;
    size: 18px;
}



@media only screen and (max-width: 480px) {
    .header-menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    mat-sidenav {
        height: 87vh;
        width: 55%;
        background: #f8f8f8;
    }

    .logo {
        width: 30%
    }
}